DATABASE_URL=postgres://postgres:password@127.0.0.1:5432/postgres
SERVER_BASE_URL=http://localhost:8000
CLIENT_BASE_URL=http://localhost:3000
GOOGLE_API_KEY=

PINECONE_API_KEY=
PINECONE_URL=

# just for the embedding
OPENAI_API_KEY=leave-me-blank